@import url("https://fonts.googleapis.com/css2?family=Cookie&family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400&family=Tinos&display=swap");
body {
    width: 1440px;
    margin: 0 auto;
    font-family: "Open Sans", sans-serif;
}

.header {
    height: 100vh;
    background: url(./../img/header/HERO-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position: center; */
}

.container {
    width: 1110px;
    margin: 0 auto;
}

.header-nav {
    padding-top: 55px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}

.logo__img {
    height: 68px;
}

.header__menu-wrapper {
    display: flex;
    align-items: center;
}
.header-menu {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    /* identical to box height */

    color: #ffffff;
    text-transform: uppercase;
}
.menu__link {
    padding: 12px;
}
.cart {
    height: 15px;
    border-right: 1px solid #fff;
    padding-right: 20px;
}
.header__phone {
    margin-left: 20px;
    margin-right: 45px;
}

.header__phone span {
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;

    color: #ffffff;
}

.phone-img {
    height: 23px;
}
.header__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;

    color: #ffffff;
}
/* Button styles */
.button {
    display: inline-block;
    background: #ff7400;
    color: #fff;
    padding: 14px 24px;
}
.button-link {
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
}
/* Title styles */
.title {
    font-family: "Tinos";
    font-style: normal;
    font-weight: 400;
    font-size: 54px;
    line-height: 62px;
    /* identical to box height */

    color: #000000;
    text-align: center;
    margin-bottom: 21px;
}

.title span {
    color: #d67e34;
}

/* Header - intro stiles */
.header-intro {
    position: relative;
}
.header-intro__wrapper {
    position: absolute;
    top: 203px;
    height: 556px;

    text-align: center;
}
.header-intro__subtitle {
    font-family: "Tinos";
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 57px;

    color: #d67e35;
}
.header-intro__title {
    font-family: "Tinos";
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 92px;

    color: #d67e35;
}

.header-intro__suptitle {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    /* identical to box height */

    color: #ffffff;
    margin-bottom: 21px;
    position: relative;
}
.header-intro__suptitle::before {
    content: "";
    height: 2px;
    width: 61px;
    border: 1px solid #fff;
    position: absolute;
    top: 10px;
    left: 78px;
}
.header-intro__suptitle::after {
    content: "";
    height: 2px;
    width: 61px;
    border: 1px solid #fff;
    position: absolute;
    top: 10px;
    right: 78px;
}

.header-differences {
    transform: translateY(-122px);
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
}
/* Diference styles */
.card-diference {
    background-color: #fff;
    width: 32%;
    min-height: 328px;
    text-align: center;
    box-shadow: 10px 10px 40px 20px rgba(0, 0, 0, 0.1);
    padding: 48px 15px;
}
.card-img {
    height: 87px;
}
.card-title {
    margin-bottom: 20px;
    font-family: "Tinos";
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 30px;
    /* identical to box height */

    color: #2c2c2c;
}
.card-title span {
    color: #bc9060;
}
.card-text {
    font-family: "Tinos";
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 30px;
    text-align: center;

    color: #656363;
}
/* history stiles */

.our__history-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 122px;
}
.our__history-content {
    width: 444px;
    height: 422px;
    /* display: flex; */
}
.our__history-title {
    font-family: "Tinos";
    font-style: normal;
    font-weight: 400;
    font-size: 54px;
    line-height: 62px;
    /* identical to box height */

    color: #000000;
    text-align: center;
    margin-bottom: 21px;
}

.our__history-title span {
    color: #d67e34;
}
.our__history-text {
    text-align: center;
    margin-bottom: 39px;
}
.our__history-wrap {
    display: flex;
    justify-content: space-around;
}

.num {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 54px;
    text-align: center;

    color: #bc9060;
}
.description {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    text-align: center;

    color: #000000;
}
.our__history-image {
    width: 539px;
    height: 498px;
    position: relative;
}
.image-1 {
    position: absolute;
    top: 65px;
    z-index: 1;
    box-shadow: 20px 0px 30px 3px rgba(0, 0, 0, 0.5);
}
.image-2 {
    position: absolute;
    top: 0;
    left: 190px;
}
.image-3 {
    position: absolute;
    top: 198px;
    left: 285px;
    box-shadow: -1px 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.image-4 {
    position: absolute;
    top: 35px;
    left: 285px;
    z-index: -1;
}
/*  */
.invitation {
    height: 357px;
    background: url(./../img/bg.jpg);
    background-repeat: no-repeat;
    background-position: cover;
    margin-bottom: 132px;
}
.invitation-wrapper {
    padding-top: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.invitation-content {
    width: 601px;
    height: 173px;
}
.invitation__title {
    font-family: "Tinos";
    font-style: normal;
    font-weight: 400;
    font-size: 52px;
    line-height: 60px;
    color: #d67e34;
    margin-bottom: 20px;
}
.invitation_text {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    color: #ffffff;
}
.dishes__wrapper {
    display: flex;
    gap: 10px;
}
.dishes__images {
}
.menu__dishes {
    display: flex;
    flex-direction: column;
}
.menu__card {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.price {
}
